#container {
	width: 800px;
	margin: auto;
	font-family: 'Nunito', sans-serif;
	box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.2);
	overflow: auto;
}

nav {
	width: 800px;
	margin: auto;
	display: block;
}

#logo {
	height: 56px;
	width: 103px;
	display: inline-block;
	float: left
}

.nav-right {
	list-style: none;
	float: right;
}

.nav-right li {
	display: inline;
	padding-right: 10px; 
}

#border-right {
	border-right: 1px solid grey;
	padding-right: 10px;
}

ul li a {
	text-decoration: none;
	color: black;
}

.input-align {
	display: block;
	width: 320px;
	margin: 20px 0;
}

#form {
	padding: 25px 20px;
	width: 400px;
	margin-top: 5px;
	float: left;
	clear: left;
}

h1 {
	font-weight: 300;
	font-size: 30px;
}

.top-logo {
	display: block;
}

aside {
	width: 200px;
	padding: 25px 20px;
	margin-top: 50px;
	float: right;
	position: relative;
	display: inline;
	border-left: 1px solid lightgrey;
	margin-top: 20px;
	height: 700px;
}

#side {
	background-color: #f5f5f5;
	height: 650px;
}

.remember_me {
	display: inline;
	margin: 0;
	padding: 0;
	position: relative;
}

button {
	border: none;
	float: left;
	border-radius: 2px;
	color: #fff;
	font-size: 1.125em;
	font-weight: 400;
	padding: 0 20px;
	height: 34px;
	margin-top: 20px;
	background-color: #45cae6;
	font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

p {
	vertical-align: bottom;
	color: #7d7f80;
	width: 450px;
	float: left;
	font-size: 12px;
	margin-left: 20px;
}

p a {
	text-decoration: none;
	color: #45cae6;
}

#terms {
	text-align: center;
}
#terms li {
	list-style: none;
	display: inline;
}

#terms li a {
	color: #a5a5a5;
	font-size: 12px;
	padding: 0 10px;
}

.border-right {
	border-right: 1px solid lightgrey;
}

footer {
	margin-top: 40px;
}

footer p {
	width: 100%;
	text-align: center;
}

#security {
	width: 100%;
	text-align: center;
	margin-top: 100px;
}